[Desktop Entry]
Version=1.0
Type=Application
Name=Flax
GenericName=Music Player
Comment=High-fidelity Subsonic and Navidrome music player
Exec=flax %U
Icon=flax
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;player;subsonic;navidrome;audio;flac;mpv;
StartupWMClass=flax
